.item {
  background-color: #fff;
  width: 150px;
  padding: 0rem 0.8rem 0.8rem 0.8rem;
  border-radius: 30px;
  text-align: center;

  display: flex;
  flex-direction: column;
}

.item img {
  margin-top: -3.5em;
  height: 130px;
  object-fit: contain;
}

.item-head-desc {
  flex: 1;
  text-align: left;
  margin-top: 1rem;
  margin-bottom: 0.5rem;

  display: flex;
  flex-direction: column;
}

.item-head-desc p {
  margin: 0;
  margin-bottom: 0.5rem;
}

.item-head-desc p:first-child {
  font-size: 1rem;
  font-weight: 600;
  text-transform: capitalize;
  flex: 1;
}

.item-head-desc p:last-child {
  font-size: 0.8rem;
  color: #646464;
}

.item-foot-desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-foot-desc span {
  font-weight: 700;
}
