@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,600&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  background-color: #f8f8f8f8;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

button {
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1140px;
  width: 95%;
  margin: 0 auto;
}

.color-gradient {
  color: transparent;
  background: #e4eb1b;
  background-image: -webkit-linear-gradient(to right, #45b649, #e4eb1b);
  background-image: linear-gradient(to right, #45b649, #e4eb1b);
  background-clip: text;
  -webkit-background-clip: text;
}
